@import url(https://fonts.googleapis.com/css?family=Yellowtail);
/*@import url(https://fonts.googleapis.com/css?family=Pacifico);*/

p {
   color: #ffffff;
}
h3 {
   color: #ffffff;
}

* {
   margin: 0;
   padding: 0;
}

body {
   overflow-x: hidden;
   /*gets rid of x coordinates overflow by hiding it*/
}

.seperator {
   background-color: black;
   width: 100%;
   min-height: 50px;
}

#sectOne {
   background: url("../images/geek.png") no-repeat no-repeat fixed;
   height: 900px;
   width: 100%;
   background-attachment: fixed;
   background-size: 100% 100%;
}

#name {
   font-size: 180px;
   font-family: 'Yellowtail', cursive;
   color: #ffffff;
   padding: 5px;
}

#name p:first-child {
margin-left: 45px;
}

#name p:last-child {
   margin-top: 15px;
   float: right;
}

/*Mission Statement*/
#missionState {
   font-size: 24px;
   font-family: 'Yellowtail', cursive;
   color: #ffffff;
   padding: 5px;
   border: 5px solid #ffffff;
   border-radius: 25px;
}

#sectTwo {
   height: 900px;
   width: 100%;
   overflow: hidden;
   /*Creating rows with flex*/
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   align-items: stretch;
   flex: 1;
}

#sectTwo article {
   height: 900px;
   width: 100%;
}

#sectTwo article:first-child {
   background: url("../images/pikaHalf.jpg") no-repeat no-repeat fixed;
   background-size: 50% 100%;

}

#sectTwo article:first-child h3 {
   text-align: center;
   font-size: 120px;
   font-family: 'Yellowtail', cursive;
   color: #ffffff;
   margin-top: 35%;
}

#sectTwo article:last-child {
   background: url("../images/pikaTail.jpg") no-repeat no-repeat fixed;
   background-size: 150% 100%;;
   padding: 18px;
}


#sectThree {
   background: url("../images/charFull.jpg") no-repeat no-repeat fixed;
   background-size: cover;
   height: 900px;
   width: 100%;
   overflow: hidden;
   /*Creating rows with flex*/
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   align-items: stretch;
   flex: 1;
}

#sectThree article {
   height: 900px;
   width: 100%;
}

#sectThree article:first-child {
   padding: 18px;
}

#sectThree article:last-child h3 {
   text-align: center;
   font-size: 120px;
   font-family: 'Yellowtail', cursive;
   color: #ffffff;
   margin-top: 35%;
}

#sectFour {
   background: url("../images/squirtFull.jpg") no-repeat no-repeat fixed;
   background-size: cover;
   height: 900px;
   width: 100%;
   overflow: hidden;
   /*Creating rows with flex*/
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   align-items: stretch;
   flex: 1;
}

#sectFour article {
   height: 900px;
   width: 100%;
}

#sectFour article:first-child h3 {
   text-align: center;
   font-size: 120px;
   font-family: 'Yellowtail', cursive;
   color: #ffffff;
   margin-top: 35%;
}

#sectFour article:last-child {
   padding: 18px;
}

#navBar {
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #000000;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   /*z-index used to render the navBar on top of the doc so long as nothing exceeds 9999*/
}

#socialBar{
   /*margin: 4px 65px 4px  0px;*/
   padding: 0;
   width: 8%;
   position: fixed;
   top: 20px;
   right: 0;
   z-index: 9999;
}

#socialBar li {
   text-decoration: none;
   list-style-type: none;
   display: block;
}

.socialIcon {
   padding: 0;
   margin: 0;
   height: 100px;
   width: 100px;
}

.icon {
   top: 0;
   bottom: 0;
}

ul li.icon {
   display: none;
}

#navBar li {
   list-style-type: none;
   float: left;
   padding: 10px;
   margin: 10px;
}

#navBar li a {
   display: inline-block;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
   color: white;
   transition: 0.5s;
}

ul:first-child {
   font-style: italic;
}

#navBar li a:hover {
   margin: 4px;
   background-color: #ffffff;
}

footer {
   background: url("../images/og3.jpg") no-repeat no-repeat fixed;
   background-size: 135%;
   text-align: center;
   font-weight: bold;
   font-size: 24px;
   height: 600px;
   width: 100%;
   font-family: 'Yellowtail', cursive;
   overflow: hidden;
   /*Creating rows with flex*/
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   align-items: stretch;
   flex: 1;
}

footer h3 {
   font-size: 100px;
}

footer section p {
   font-size: 24px;
}

@media screen and (max-width: 680px) {
   ul li:not(:first-child) {
      display: none;
   }
   ul li.icon {
      float: right;
      display: inline-block;
   }
}

@media screen and (max-width: 680px) {
   nav ul.responsive {
      position: relative;
      right: 0;
      top: 0;
   }
   nav ul.responsive li.icon {
      float: none;
      display: inline;
   }
   nav ul.responsive li a {
      display: block;
      text-align: left;
   }
}
